$icons: (
  dCaret: (
    points: 'M8 9 0 0 16 0z',
    width: 16,
    height: 9
  ),
  arrow: (
    points: 'M26,0 C40.3594035,0 52,11.6405965 52,26 C52,40.3594035 40.3594035,52 26,52 C11.6405965,52 0,40.3594035 0,26 C0,11.6405965 11.6405965,0 26,0 Z M26,2 C12.745166,2 2,12.745166 2,26 C2,39.254834 12.745166,50 26,50 C39.254834,50 50,39.254834 50,26 C50,12.745166 39.254834,2 26,2 Z M25.5890666,13.6997658 L38.1019605,25.8980395 L25.6017482,38.0839505 L24.147071,36.7671422 L34.2746767,26.8930395 L12.8856767,26.8937292 L12.8856767,24.9023499 L34.2706767,24.9020395 L24.1600367,15.0928646 L25.5890666,13.6997658 Z',
    width: 52
  )
);

$purple: #6B5394;